.text-color-animation {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg, #fff, #333333, #fff);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.link {
    color: #939393;
    transition: color 200ms ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.link:hover {
    color: #fff;
    transition: color 200ms ease-in-out;
}

.link-bright {
    color: #383838ab;
    transition: color 200ms ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.link-bright:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}

.navigation-button:focus {
    background-color: #939393;
}